.nav {
  color: white;
  padding: 40px;
  border-bottom: white dotted 1px;
}

p {
  color: white;
}

li{
  color: white;
}

td {
  color: white;
}

body .text {
  color: white;
}

body a:hover  {
  color: red;
}

body {
  margin: 0px;
  font-family: hack nerd font;
  color: white;
}

#content img {
  padding: 20px 75px 20px 50px;
}

.link {
  color: red;
}

#content p {
  padding: 0 200px 0 200px;
}

#content p a {
  color: #FF0000;
  text-decoration: none
}

footer {
  text-align: center;
  padding: 3px;
  background-color: black;
  color: white;
}

footer a  {
  color: white;
}

footer a:hover  {
  color: red;
}
