.nav {
  color: white;
  padding: 40px;
}

p {
  color: white;
}

li{
  color: white;
}

td {
  color: white;
}

body .text {
  color: white;
}

body a:hover  {
  color: red;
}

body {
  margin: 0px;
  font-family: hack nerd font;
  color: white;
}

#content img {
  padding: 20px 75px 20px 50px;
}

#content p {
  padding: 0 200px 0 200px;
}

#content p a {
  color: #FF0000;
  text-decoration: none
}

#content img.zphisher {
  padding-left: 200px;
}

#content img.brutegram {
  padding-left: 200px
}

#content img.msf1 {
  padding: 40px 200px 40px 200px;
  height: 700px;
  weight: 2000px;
}

#header img.logo {
  height: 100px;
  weight: 100px;
}

#content h1 {
  padding-left: 200px;
}

#content img.meterpreter {
  padding-left: 200px;
}

footer {
  text-align: center;
  padding: 3px;
  background-color: black;
  color: white;
}

footer a  {
  color: white;
}

footer a:hover  {
  color: red;
}
